*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(225, 209, 117);
    color: blue;
}

.container,h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.box{
    height: 300px;
    width: center;
}

input,button,span{
    display: block;
}

input{
    width: 100%;
    margin-bottom: 20px;
}

button{
    background-color: blue;
    color: #fff;
    margin: 0 auto;
}

span{
    display: none;
}

#saquerealizado{
    border-radius: 2px;
    background-color: green;
}

#erro{
    border-radius: 2px;
    background-color: red;
}